<div class="info">
  <h2><%= _("Password") %></h2>
  <div><%= _("Change you current password") %></div>
</div>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag({:action => 'save_changed_password'}, :class => "wufoo") do %>

  <p>
    <%= label_tag(:old_password, _("Old password:"), :class => "desc") %><br />
    <%= password_field_tag(:old_password, "", :class => "field text small") %> 
  </p>

  <p>
    <%= label_tag(:new_password, _("New password:"), :class => "desc") %><br />
    <%= password_field_tag(:new_password, "", :class => "field text small") %> 
  </p>

  <p>
    <%= label_tag(:new_password_validation, _("New password validation:"), :class => "desc") %><br />
    <%= password_field_tag(:new_password_validation, "", :class => "field text small") %> 
  </p>

  <p>
    <%= submit_tag(_("Save"), :class => "buttons") %>
  </p>
<% end %>

<dev class="info">
<%= link_to _('Back'), :action => 'options' %>
</div>
