<h1>Change password</h1>

<% form_tag({:action => 'save_changed_password'}) do %>

  <p>
    <%= label_tag(:old_password, "Old password:") %><br />
    <%= password_field_tag(:old_password) %> 
  </p>

  <p>
    <%= label_tag(:new_password, "New password:") %><br />
    <%= password_field_tag(:new_password) %> 
  </p>

  <p>
    <%= label_tag(:new_password_validation, "New password validation:") %><br />
    <%= password_field_tag(:new_password_validation) %> 
  </p>

  <p>
    <%= submit_tag("Save") %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'options' %>
