<div class="info">
  <h2>Users</h2>
  <div>List of all users of the system</div>
</div>

<table>
  <tr>
    <th><%= label_tag(:name, "Name", :class => "desc") %></th>
    <th><%= label_tag(:email, "Email", :class => "desc") %></th>
    <th><%= label_tag(:bucket, "Bucket", :class => "desc") %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= label_tag(:name, user.name, :class => "field text addr") %></td>
    <td><%= label_tag(:email, user.email, :class => "field text addr") %></td>
    <td><%= label_tag(:bucket, user.bucket, :class => "field text addr") %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => user.id %></td>
    <td><%= link_to 'Destroy', :action => 'destroy', :id => user.id %></td>
  </tr>
<% end %>
</table>

<br>

<div class="info">
  <%= link_to 'Create user', :action => 'new' %>
  <%= link_to 'Back', :action => 'options' %>
<div>
