<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Bucket:</b>
  <%=h @user.bucket %>
</p>

<%= link_to 'Edit', :action => 'edit', :id => @user.id %> |
<%= link_to 'Back', :action => 'index' %>
